/* Custom Theme Colors */
:root {
    /* Primary Colors */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;

    /* Text Colors */
    --text-primary: #212529;
    --text-secondary: #6c757d;
    --text-light: #f8f9fa;
    --text-dark: #343a40;

    /* Background Colors */
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --bg-dark: #343a40;
}

/* Custom Fonts */
:root {
    --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Apply Custom Fonts */
html body, .lead, p {
    font-family: var(--font-primary) !important;
    letter-spacing: 0.3px;
    word-spacing: 0px;
    font-weight: 400 !important;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary) !important;
}

/* Theme Color Overrides */
.navbar {
    background-color: var(--bg-primary);
}

.navbar-brand, .nav-link {
    color: var(--text-primary);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


/* Add any additional custom styles below */

h1#title {
  margin-top: 40px;
  margin-bottom: 40px;
}


.item-details .item-source {
  color: #666;
  font-style: italic
}   

.item-details .item-meta {
  display: block;
  color: #444;
  margin-bottom: 10px;
}

.item-details .item-title {
  font-size:1.5em;
  color: #3498db;
}

.item-image {
  margin-left: 20px;
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden; /* Ensures the image stays within the rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better visual appeal */
}

.item-image img {
  width: 100%;
  height: auto;
  display: block; /* Removes any inline spacing issues */
  border-radius: 8px; /* Ensures the image inherits the parent's rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adds hover effects */
}

.item-image img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhances shadow on hover */
}

