{{ define "main" }}
<div id="main-content" class="section flex-grow-1">
  <div class="container">
    <div class="content-area">
      <h1 class="text-center page-title rad-fade-down rad-waiting rad-animate">{{ .Title }}</h1>

      <div class="text-center page-description">
        {{ .Content }}
      </div>

      <div class="content-list">
        {{ range .Pages.ByDate.Reverse  }}
          {{ if not .Draft}}
          <div class="row row--padded rad-animation-group rad-fade-down rad-waiting rad-animate section--border-bottom">
            
            <!-- Optional Image -->
            {{ if .Params.picture }}
            <div class="col-md-4">
              <div class="item-image">
                  <img src="{{ .Params.picture }}" alt="{{ .Title }}" class="img-fluid rounded shadow-sm" />
              </div>
            </div>
            {{ end }}

            <!-- Main Content -->
            <div class="item-details {{ if .Params.picture }}col-md-8{{ else }}col-12{{ end }}">

              <!-- Title -->
              <h3 class="item-title">
                <a href="{{ .Permalink }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
              </h3>

              <!-- Optional Source/Journal -->
              {{ with .Params.source }}
                <p class="item-source">{{ . }}</p>
              {{ end }}

            </div>
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
