<section class="project">
    <div class="container title">
        {{ partial "breadcrumbs.html" . }}
        <h1>{{ page.Title | safeHTML }}</h1>

    </div>
    <div class="container wide">
        {{- $postimage := `/uploads/gallery/01.jpg` -}}
        {{- if page.Params.image -}}
            {{- $postimage = page.Params.image -}}
        {{- end -}}
        {{- if (resources.GetMatch $postimage) -}}
            {{- $postimage = ((resources.GetMatch $postimage).Fill `1600x800 jpg Smart q50`).RelPermalink -}}
        {{- end -}}
        <img src="{{ $postimage }}" alt="{{ .Title }}" class="featuredimage" />
    </div>
    <div class="container post">
        {{ page.Content }}
    </div>
</section>