{{ define "main" }}
<div id="main-content" class="section flex-grow-1">
  <div class="container">
    <div class="content-area">
      <h1 class="text-center page-title rad-fade-down rad-waiting rad-animate">{{ .Title }}</h1>

      <div class="text-center page-description">
        {{ .Content }}
      </div>

      <div class="content-list">
        {{ range .Pages }}
        <div class="row row--padded rad-animation-group rad-fade-down rad-waiting rad-animate section--border-bottom">
          
          <!-- Optional Image -->
          {{ if .Params.picture }}
          <div class="col-md-3">
            <div class="item-image">
              <img src="{{ .Params.picture }}" alt="{{ .Title }}" class="img-fluid rounded shadow-sm" />
            </div>
          </div>
          {{ end }}

          <!-- Main Content -->
          <div class="item-details {{ if .Params.picture }}col-md-9{{ else }}col-12{{ end }}">
            <!-- Optional Date -->
            {{ with .Params.date }}
              <h5 class="item-meta">{{ (time .).Year }}</h5>
            {{ end }}

            <!-- Title -->
            <h3 class="item-title">
              {{ if .Params.link }}
              <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
              {{ else }}
              {{ .Title }}
              {{ end }}
            </h3>

            <!-- Optional Author -->
            {{ with .Params.authors }}
              <p class="item-authors text-sm "><strong>Authors:</strong> {{ . }}</p>
            {{ end }}

            <!-- Optional Source/Journal -->
            {{ with .Params.journal }}
              <p class="item-source">{{ . }}</p>
            {{ end }}

            <!-- Optional Abstract -->
            {{ with .Params.abstract }}
              <p class="item-abstract mt-2 text-sm text-gray-800"><strong>Abstract:</strong> {{ . }}</p>
            {{ end }}

            <!-- Button -->
            {{ if .Params.link }}
              <a href="{{ .Params.link }}" class="btn btn-primary mt-2 inline-block" target="_blank" rel="noopener noreferrer">
                {{ if .Params.buttonText }}{{ .Params.buttonText }}{{ else }}Read More{{ end }}
              </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
