{{ define "main" }}
  <div id="main-content" class="blog flex-grow-1">
    <div class="container section">
      <div class="col-content">
        <h1 class="rad-fade-down rad-waiting rad-animate">{{ .Title }}</h1>
        {{ .Content }}
        
        <div class="posts-list">
          {{ range .Pages }}
            <div class="row row--padded rad-animation-group rad-fade-down rad-waiting rad-animate section--border-bottom">
              <div class="publication d-flex align-items-start">
    
                <div class="publication-item" style="flex: 1;">
                  <!-- Year -->
                  <h5 class="publication-year">{{ (time .Params.date).Year }}</h5>
                  <!-- Title -->
                  <h3 class="publication-title"><a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a></h3>
                
                  <!-- Authors -->
                  <p><span class="label">Authors:</span> {{ .Params.authors }}</p>
                  
                  <!-- Publisher -->
                  <p><span class="journal">{{ .Params.journal }}</span></p>
                  
                  <!-- Abstract -->
                  <p><span class="label">Abstract:</span> {{ .Params.abstract }}</span></p>
                  
                  <!-- Link as a Button -->
                  {{ if .Params.link }}
                    <a href="{{ .Params.link }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                      {{ if .Params.buttonText }} {{ .Params.buttonText }} {{ else }} Full paper {{ end }}
                    </a>
                  {{ end }}

                  
                <!-- Picture -->
                {{ if .Params.picture }}
                  <div class="publication-image">
                  <img src="{{ .Params.picture }}" alt="{{ .Title }}" />
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}